:root {
  /*colors*/
  --background-1: #fdfdff;
  --background-2: #e8efff;
  --light-blue: #c8daff;
  --blue: #879ece;
  --dark-blue: #252d40;
  --light-green: #83ad82;
  --green: #567855;
  --dark-green: #40543f;
  --green-black: #101610;
  --blue-black: #141822;
  --button-background: #977d6b;
  --button-border: #805e45;
  --button-hover-background: #805e45;
  --button-hover-text: #fdfdff;
  --medium-blue: #5171b6;

  /*fonts*/
  --h1-font: "Rubik Mono One", monospace;
  --h2-font: "Rubik", sans-serif;
  --text-font: "Rubik", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* H1 */
  --h1-size: clamp(2rem, 2.5vw, 10rem);
  --h1-size-mobile: 1.4rem;

  /* H2 */
  --h2-size: clamp(1.7rem, 2vw, 8rem);
  --h2-size-mobile: 1.6rem;

  --nav-size-mobile: 1.1rem;
  --nav-size: clamp(1.2rem, 1.5vw, 3rem);
  --nav-gap: clamp(1rem, 1.5vw, 5rem);

  /*Footer p*/
  --footer-p-size: clamp(1rem, 1.8vw, 5rem);
  --footer-p-size-mobile: 0.8rem;

  /* P */
  --text-size: clamp(1rem, 1.5vw, 3rem);
  --text-line-height: clamp(2rem, 1.5vw, 3rem);
  --text-size-mobile: 1.4rem;

  --button-padding: clamp(1rem, 1vw, 3rem);
  --img-width: 100%;
}
/*animation*/
@keyframes swing {
  20% {
    transform: rotate(11deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
