/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/************************************/
.om_pic {
  display: none;
}

.cover {
  padding: 0 1rem 2rem 1rem;
}
.skilte1 img,
.skilte2 img {
  padding: 1.5rem;
}
.index h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.om_tekst h2 {
  margin-top: 7rem;
}
.intro_tekst h2 {
  margin-bottom: 5rem;
}
.index .om_tekst p {
  margin-bottom: 4rem;
}

.om_udsnit a {
  display: inline-flex;
  padding: var(--button-padding);
  background-image: url(svg/træ_baggrund.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 7px var(--button-background);
  border-radius: 9999px;
  font-weight: var(--font-weight-bold);
  color: var(--dark-blue);
  box-shadow: -1px 3px 1px rgba(20, 24, 34, 0.3);
}
.om_udsnit a:hover {
  background-color: var(--button-hover-background);
  color: var(--button-hover-text);
  border-color: var(--button-border);
  transition: 0.05s linear;
  animation: swing 1s;
}

.read_more:focus-visible {
  background-color: var(--button-hover-background);
  outline: none;
}
@media (min-width: 800px) {
  .cover {
    width: 87%;
    justify-self: center;
  }
  .om_pic {
    display: block;
    grid-column: 2;
    width: var(--img-width);
    justify-self: right;
    align-self: center;
    border-radius: 15px;
    background-image: url(svg/træ_baggrund.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ombilled {
    padding: 2rem;
  }

  .skilte_all {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .skilte1 {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 0;
  }
  .skilte2 {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 0;
  }
  .skilte1_1,
  .skilte2_1 {
    grid-column: 1;
  }
  .skilte1_2,
  .skilte2_2 {
    grid-column: 2;
  }
  .om_udsnit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    gap: 2rem;
  }
  .om_tekst {
    grid-column: 1;
    align-content: center;
    align-self: center;
  }
}

/*********** Skilte Hover og Active ***********/
.skilt1_1:hover,
a:focus .skilt1_1,
a:focus-visible .skilt1_1 {
  animation: swing 1s;
}

.skilt1_2:hover,
a:focus .skilt1_2,
a:focus-visible .skilt1_2 {
  animation: swing 1s;
}

.skilt2_1:hover,
a:focus .skilt2_1,
a:focus-visible .skilt2_1 {
  animation: swing 1s;
}

.skilt2_2:hover,
a:focus .skilt2_2,
a:focus-visible .skilt2_2 {
  animation: swing 1s;
}
