/*****************generel styling*******************/

.tema_main h1 {
  padding: 3rem 0 0 0;
  word-break: break-word;
}
.tema_main h2 {
  padding: 6rem 0 1rem 0;
}
.tema_main a {
  font-weight: var(--font-weight-bold);
  color: var(--medium-blue);
  text-decoration: underline;
}
.tema2 p,
.tema3 p {
  padding-bottom: 1rem;
}
.titelsvg img {
  width: 75%;
  padding: 0 2rem 2rem 2rem;
  justify-self: center;
}
.solut_img {
  max-width: 500px;
  margin: 2rem;
  border: solid 4px var(--dark-blue);
}
.tema2slide img {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .tema2,
  .tema3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding-top: 8rem;
  }

  .tema2tekst {
    grid-column: 1;
  }
  .tema2slide {
    grid-column: 2;
  }

  .tema3tekst {
    grid-column: 2;
    grid-row: 1;
  }
  .solut {
    grid-column: 1;
    grid-row: 1;
  }
  .tema2slide,
  .solut {
    justify-self: center;
  }
  .tema1tekst {
    height: 100%;
    margin-bottom: 5rem;
  }
  .tema_main p {
    margin-bottom: 2rem;
  }
  .overfold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .titelsvg {
    display: grid;
    height: max-content;
  }
  .titelsvg h1 {
    height: 155px;
  }

  .titelsvg img {
    width: 45%;
    height: 100%;
    justify-self: center;
  }

  .overfold {
    height: 706px;
  }
}

/*****************slide show*******************/
.slideshow [data-slide] {
  display: none;
}

.slideshow [data-slide].is-active {
  display: block;
}

.slideshow {
  position: relative;
  max-width: 35rem;
  margin: auto;
  margin: 2rem;
}

.slideshow .slide img {
  width: 100%;
  display: block;
  max-width: 500px;
  border: solid 4px var(--dark-blue);
}

.slideshow button[data-prev],
.slideshow button[data-next] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
  border: none;
  font-weight: var(--font-weight-bold);
  color: var(--dark-blue);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 3rem;
  cursor: pointer;
}

.slideshow button[data-prev] {
  left: -60px;
}

.slideshow button[data-next] {
  right: -60px;
}
